h1 {
	text-indent: -9999px;
}

.logo{
	height: 50px;
	
}

/* h1 a {
	height: 50px;
	position: absolute;
	left: 5%;
	background: url(/UPACADEMY_DB/resources/images/logo.jpg) no-repeat left;
	background-size: 10%;
} */

/* dropdowns... */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* ... */

#logOutLink{
	color: blue;
}

#usernameHeader{
	color: white;
}

.navbar-inverse {
	background-color: #062B2A
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover,
	.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #4A4A4A
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #4A4A4A
}

.dropdown-menu {
	background-color: #BABABA
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #2A5880
}

.navbar-inverse {
	background-image: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-image: none;
}

.navbar-inverse {
	border-color: #000000
}

.navbar-inverse .navbar-brand {
	color: #D1D1D1
}

.navbar-inverse .navbar-brand:hover {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
	color: #999999
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
	{
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #FFFFFF
}

.dropdown-menu>li>a {
	color: #333333
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-bottom-color: #FFFFFF
}