/* Conteudo central */
#content {
	margin-top: 100px;
	color: black;
}

.ui-growl {
    margin-top: 40px;
    z-index:9999;
}

.ui-panelgrid{
	width: 100%;
}

.rowContent{
	width: 99%;
}

.wrap {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	min-height: 1200px;
}

.container2 {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	font-size: .875em;
	padding-bottom: 120px;
}
