#head{
	color: #fffcd3;
	background: #567705;
	text-align: center;
	height: 70px;
}

#sideMenu {
	height: 870px;
	padding: 40px 10px 40px 10px;
	color: white;
	background-color: #c7c9c3;
}

#content{
	height: 870px;
	color: white;
	background-color: #8e9185;

}

#contentDisplay {
    height: 758px;
    width: 97%;
    padding-top: 45px;
    padding-left: 60px;

}

#menuButton1, #menuButton2, #menuButton3, #menuButton4, #menuButton5{
	height: 15%;
	width: 90%;
	padding-top: 5px;
	margin: 20px 10px 20px 10px;
	text-align: center;
	color:white;
}

.btn{
	height:100px;
	width: 100%;
	font-size: 25px;
	border-radius: 8px;
	white-space: pre-wrap;
}

.btn-submit {
	height: 60px;
	width: 200px;
	font-size: 18px;
	border-radius: 8px;
	margin-top: 40px;
	margin-right: 40px;
	white-space: pre-wrap;
}


#naveg{
	padding-left: 0px;
	background: #d9f2d5;
	padding: 0px;
}

li{
	display: inline;
}

.naveglist > li > a {
	padding: 5px 30px;
}

.naveglist {
	font-size: 15x;
	background-color: #d9f2d5;
	padding: 10px 100px;
}

.naveglist > li + li {
	margin-left: 20px;

}

.naveglist > li > a {
	text-align: center;
	width: 210px;
	color: black;
	border-radius: 0px;
}

.naveglist > li.active > a {
	font-weight: bold;
	color: black;
	background-color: white;
}

.naveglist > li.active > a:hover {
	background-color: #474747;
	color: #ffbb00;
}

.naveglist > li > a:hover {
	background-color: #474747;
	color: #ffbb00;
}

.ui-grid{
	margin: 0px auto;
}


#gridFoto{
	padding: 50px 450px;

}

#gridInfo{
	margin-left:auto;
	margin-right:auto;
}

td, th {
    padding: 20px;
}


#footer{
	height: 48px;
	background-color: #567705;
}
